.flex {
  display: flex;
}

.left {
  width: 50%;
  height: 1200px;
  background-color: gray;
}

.right {
  background-color: bisque;
  width: 50%;
}

.box {
  width: 100%;
  height: 50px;

  background: red;
  position: sticky;
  top: 0;
}

.right div {
}
